[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	symlinks = false
	ignorecase = true
	hideDotFiles = dotGitOnly
[remote "origin"]
	url = https://github.com/lf2941270/Ghost.git
	fetch = +refs/heads/*:refs/remotes/origin/*
	Username = lf2941270
    Password = lifan19890826
[branch "master"]
	remote = origin
	merge = refs/heads/master
[remote "bae"]
	url = https://git.duapp.com/appid8q812x4458
	fetch = +refs/heads/*:refs/remotes/bae/*
	Username = lf2941270
	Password = lf19890826