<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!--<div class="btn-content">
        <button type="button" class="btn btn-primary btn-prev" title="上一张"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-primary btn-next" title="下一张"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
      </div>-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> 查看图片</h4>

      </div>
      <div class="modal-body">
        <div class="loading text-center">载入中...</div>
        <img style="display: none" class="img-responsive" alt="Responsive image">
      </div>
      <!--<div class="modal-footer">

      </div>-->
    </div>
  </div>
</div>